body{
margin:0;
padding:0;
color: lightgray;
height:10000px;

}

.morning, .mbridge,.nbridge,.sun,.moon,.rc1,.night,.m1,.m2 ,.mrt,.mrt1 ,.end,.end1,h2, p{
position:fixed;
}

.examplecursive {
 font-family: cursive;
}
h2{
top:100px;
width:600px;
left:400px;
margin-left:-200px;
z-index:-2;
font-family: cursive;
}
p{
top:170px;
width:400px;
left:400px;
margin-left:-200px;
z-index:-1;
 font-family: cursive;
}
.mrt{
width:769px;
height:110px;
top:85%;
left:50%;
background:url(images/mrt.png);
z-index:-1;
}
.mrt1{
width:1187px;
height:802px;
top:-5%;
left:-3%;
background:url(images/mrt1.png);
z-index:-2;
}

.mbridge{
width:1116px;
height:391px;
left:0.2%;
top:20%;
background:url(images/mbridge.png);
z-index:-1;
}
.nbridge{
width:1116px;
height:391px;
left:0.2%;
top:20%;
background:url(images/nbridge.png);
z-index:-2;
}
.sun{
width:119px;
height:120px;
left:30%;
top:30%;
background:url(images/sun.png);
margin-top:-150px;
margin-left:-100px;
z-index:-2;
}

.moon{
width:120px;
height:121px;
left:30%;
top:30%;
background:url(images/moon.png);
margin-top:-150px;
margin-left:-100px;
z-index:-2;
}

.m1{
width:1271px;
height:245px;
top:69%;
left:-3%;
background:url(images/m1.png);
z-index:-2;
}
.m2{
width:1271px;
height:558px;
top:-5%;
left:-3%;
background:url(images/m2.png);
z-index:-3;
}
.night{
width:1271px;
height:802px;
top:-5%;
left:-3%;
background:url(images/night.png);
z-index:-3;
}
.rc1{
width:1270px;
height:848px;
top:-5%;
left:-3%;
background:url(images/rc1.png);
z-index:-3;
}
.end{
width:1257px;
height:942px;
top:-5%;
left:-3%;
background:url(images/end.png);
z-index:-1;
}
.end1{
width:293px;
height:181px;
left:19%;
top:20%;
background:url(images/end1.png);
z-index:-1;

}

/*h2{
top:100px;
width:600px;
left:50%;
margin-left:-355px;
}
